/* 푸터 */
#footer{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding-bottom: 30px;
}
.footer_link {
    color: #888888;
    font-size: 12px;
    width: 460px;
    display: flex;
    margin-left: 10px;
}
.footer_link li {
    display: inline-block;
    margin-bottom: 10px;
}
.footer_link ul li:first-of-type {
    padding-right: 8px;
}
.footer_link ul li:nth-of-type(n+2) {
    border-left: 1px solid #ccc;
    padding: 0 8px;
}
.footer_copy {
    font-size: 13px;
    margin-left: 70px;
}
.footer_copy .text {
    color: #888;
}
