@charset "utf-8";
/* 초기화 */
* {
    margin: 0;
    padding: 0;
}
a:link {
    color: #434343;
}
a:visited {
    color: #434343;
}
body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #fff;
}
/* 전체적인 레이아웃 설계 */
#loginWrap {
    display: flex;
    flex-wrap: wrap;
}
#loginWrap, .logo, .qrloginArea, #footer {
    width: 460px;
    margin: 0 auto;
}
/* 로고 */
.logo {
    margin: 80px 0 20px 160px;
}
/* QR로그인 영역 */
.qrloginArea {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 40px 0;
}
.qrloginArea h2 {
    color: #434343;
    text-align: center;
    font-size: 28px;
}
.qrloginArea>p {
    color: #999;
    text-align: center;
    font-size: 13px;
    margin-top: 30px;
}
.qrloginArea .qrbox {
    border: 4px solid rgb(0, 213, 100);
    width: 206px;
    height: 220px;
    margin:20px 0 0 122px;
}
.qrloginArea .qrbox > img {
    margin-left: 35px;
    margin-top: 35px;
}
.qrtimer{
    position: relative;
    margin-top: 10px;
}
.qrloginArea .qrtimer span {
    font-size: 12px;
    color: #999;
    margin-left: 25px;
    font-weight: bold;
}
.qrloginArea .qrtimer #emptytime {
    font-size: 12px;
    color: rgb(0, 100, 213);
    font-weight: bold;
    font-style: normal;
}
.qrloginArea .qrtimer button {
    background-color: #fff;
    border: none;
    position: absolute;
    right: 30px;
    cursor: pointer;
}
.qrloginArea .loggin span{
    margin: 25px 0 5px 10px;
    font-size: 14px;
    color: #434343;
}
.qrloginArea .loggin input{
    accent-color: black;
    width: 15px;
    height: 15px;
    margin-top: 30px;
    margin-left: 40px;
}
.qrloginArea .qrok {
    width: 380px;
    height: 50px;
    margin-top: 30px;
    margin-left: 40px;
    border: none;
    font-size: 15px;
    color: #434343;
    cursor: pointer;
}
.qrloginArea>a {
    font-size: 12px;
    color: #434343;
    text-align: center;
    margin-top: 22px;
}